@import "../../../styles/settings.scss";

.offer {
    margin: 0 -15px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slogan {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 50%;
        width: 100%;
        background: $darkGrayTransparent;

        .textBox {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $light-color;
            text-transform: uppercase;
            
            h2, p {
                text-align: center;
                margin: 0;
                font-weight: 300;
                > span {
                    font-weight: 700;
                }
            }
        }

        a {
            position: absolute;
            bottom: -13%;
            left: 50%;
            transform: translateX(-50%);
            background: $light-color;
            padding: 1em;
            border: none;
            border-radius: 5px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
                background-color: $primary;
            }
        }
    }

    .arrows {
        position: absolute;
        bottom: 0;
        width: 100%;

        > a {
            display: inline-block;
            width: 50%;
            text-align: center;
            &:hover {
                background-color: $primary;
            }
        }
    }
}     