$base-padding: 24px;

/* START - DO NOT USE THIS VARIABLES IN OTHER FILES*/

$lightGray: #e1e1e1;
$lighterGray: #434343;
$gray: #363636;
$darkGray: #2a2a2a;
$nero: #292929;
$orange: #d58e32;
$pinkSwan: #b6b6b6;
$blue: #f4f5f7;
$white: #ffffff;
$lightSilver: rgb(216, 216, 216);
$lightBlue: rgb(224, 227, 237);
$green: #27ae60;
$lightGray2: #dfe6e9;
/* END - DO NOT USE THIS VARIABLES IN OTHER FILES*/

/* use only below variables */
$header-topbar-bg: $lighterGray;
$header-bg: $gray;

$text-color: $darkGray;
$light-color: $white;
$footer-claim-bg: $darkGray;
$footer-bg: $gray;

$primary: $orange;

$button-background: $darkGray;
$button-outline: $darkGray;
$button-outline-hover: $white;
$button-main-hover: $white;

$product-box-border: $lightGray;
$product-box-photo: $blue;
$product-box-sale-bg: $nero;
$product-box-sale: $white;
$product-box-stars: $nero;
$product-box-line: $darkGray;

$feature-box: $pinkSwan;
$feature-box-content: $nero;
$feature-box-bg: $white;
$feature-box-icon-wrapper: $white;

$gallery-navBar: $lightGray2;

$text-color: $darkGray;

$form-border-color: $nero;

$company-claim-photo: $lightSilver;
$company-claim-cartCounter: $lightBlue;
$company-claim-cart-box: $white;

$new-furniture-menu: $nero;
$new-furniture-dots-link-bg: $nero;
$new-furniture-bg: $white;

$panel-bar: $lightGray;

$menu-bar-bg: $white;
$menu-bar-link-hover: $white;
$menu-bar-link-border: $white;

$top-bar-link: $white;

$footer-menu-wrapper-link: $lightSilver;
$social-media-link: $lightSilver;
$footer-copyright: $lightSilver; 

$transition: 2.5s;

.hover {
    background: $orange;
    color: $white;
    text-decoration: none;
}