@import "../../../styles/settings.scss";

.root {
  background-color: $white;
  border: 1px solid $product-box-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $product-box-photo;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $product-box-sale-bg;
      border-radius: 50%;
      color: $product-box-sale;
      padding: 30px 15px 5px 15px;
      z-index: 2;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .buttons {
      display: flex;
      visibility: hidden;
      justify-content: space-between;

      a {
        z-index: 2;
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $product-box-stars;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $darkGray;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

<<<<<<< HEAD
@media not all and (hover:none) {
  .root:hover {
    .photo {
      .buttons {
         visibility: visible;
      }
    }
    .actions {
      div:last-child {
        background-color: $primary;
      }
    }
  }
}
=======
.price {
  display: flex;
  align-items: center;
}

.oldprice {
  font-size: 13px;
  padding: 10px;
  color: #a5a5a5;
  text-decoration: line-through;
}
>>>>>>> 3ac6c43fc5fb62cd22dc2bde14e5e58e4b70bf85
