@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $primary;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: transparent;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      font-size: 12px;
      outline: none;

      option {
        &:hover {
          background-color: $primary;
          color: #ffffff;
        }
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
      position: absolute;
      right: 10px;
    }
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5em;
  list-style: none;
}
  
.menuItem {
  padding: 1em .5em;
  position: relative;
  margin: 0 .1em;
  cursor: pointer;
  min-width: 8em;
  text-align: center;
  a {
    color: $text-color;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.subMenu {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  right: 10%;
  padding-top: .5em;
  visibility: hidden;
  display: none;
  opacity: 0;
  .menuItem {
    padding: 1em;
    width: 10em;
    text-align: center;
    z-index: 2;
    background-color: $white;
  }
}

@media not all and (hover:none) {
  .menuItem:hover {
    > .subMenu {
      visibility: visible;
      opacity: 1;
      display: flex;
      .menuItem {
        &:hover {
          background-color: $primary;
          > a {
            color: $white;
          }
          > .subMenu {
            padding-top: 0;
            left: 86%;
            top: 0;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .root{
    width: 90vw;
   margin-top: 5px;
    .menuItem{
      display: none;
    }
    .category{
      min-width: 60px;
    }
    
  }
  .hidden{
    display: none!important;
  }
}


